DAMUI_BASE_URL=https://daui.34.36.111.7.nip.io
DAMUI_ADMIN_USERNAME=ops.admin
DAMUI_ADMIN_PASSWORD=password
DAMUI_ALLOW_SIMULATION_FALLBACK=false
DAMUI_ADMIN_FALLBACK_QUICK_SELECT=MOCK - Test User
DAMUI_HEADLESS=true
DAMUI_SLOW_MO_MS=0
DAMUI_MINT_COMPLETION_TIMEOUT_MS=180000
DAMUI_RUN_MUTATING_TESTS=false
