OPSUI_BASE_URL=
OPSUI_ADMIN_USERNAME=
OPSUI_ADMIN_PASSWORD=
OPSUI_EXPECTED_INITIATOR=
OPSUI_ALLOW_SIMULATION_FALLBACK=false
OPSUI_ADMIN_FALLBACK_QUICK_SELECT=
OPSUI_HEADLESS=true
OPSUI_SLOW_MO_MS=0
OPSUI_MINT_COMPLETION_TIMEOUT_MS=180000
OPSUI_RUN_MUTATING_TESTS=false
OPSUI_API_BASE_URL=
OPSUI_API_USERNAME=
OPSUI_API_EMAIL=
OPSUI_API_PASSWORD=
OPSUI_API_USER_ID=
OPSUI_API_TRANSACTION_TIMEOUT_MS=180000
OPSUI_API_TRANSACTION_POLL_INTERVAL_MS=5000
OPSUI_API_TEST_TIMEOUT_MS=240000
OPSUI_RUN_API_MUTATION_TESTS=false
